In [82]:
import numpy as np # importing numpy
import pandas as pd # importing pandas to read the csv into a dataframe
df = pd.read_csv('donors_data_HW1.csv') # reading in the csv file
df['TOTAL'] = df['TOTAL'].astype(float) # formatting to float
df['AVGGIFT'] = df['AVGGIFT'].astype(float) # formatting to float
df = df.drop(columns = ['ROW_ID']) # dropping the row ID column because I won't be using them in my analysis
df = df.round(decimals=2)# rounding the decimal places to 2 to clean up the dataframe
donorsdf = df[df['DONOR'] == 1] #getting rid of the non-donors by creating a sub dataframe with only donors
donorsdf.head() # printing the beginning of the dataframe to see what we are working with

   GENDER  WEALTH  LASTGIFT  AVGGIFT  DONOR  TOTAL
0       1       9       5.0     4.86      1  102.0
1       0       7      12.0     9.40      1   94.0
2       1       8       5.0     4.29      1   30.0
5       1       8      10.0     7.30      1   73.0
6       1       8      20.0    10.69      1  139.0

In [85]:
 # Question 1: For each wealth type what is the average gift and total gift amount?
data = [] # creating an empty data list
for x in sorted(donorsdf['WEALTH'].unique()): #looping through the column of the dataframe for the unique values and sorting by those values
    uwealth = x # setting the wealth group value
    avg_total = donorsdf[donorsdf["WEALTH"] == x]["TOTAL"].mean() # calculating the mean of the total gift based on the wealth value
    avg_gift = donorsdf[donorsdf["WEALTH"] == x]["AVGGIFT"].mean() # calculating the mean of the average gift based on the wealth value
    data.append([uwealth, avg_total, avg_gift]) # apppending the values to my data list to pass into the dataframe
df2 = pd.DataFrame(data, columns = ['Wealth Group', 'Average Total Gifted', 'Average Gift Amount']) # creating the dataframe with our data list and column names
print(df2) # printing our dataframe

   Wealth Group  Average Total Gifted  Average Gift Amount
0             0            170.305556             8.527593
1             1            140.333333             8.836400
2             2            168.566324             9.187206
3             3            183.243590             9.883462
4             4            135.760135             9.035135
5             5            165.348837             8.594767
6             6            162.161954             9.725057
7             7            176.856061            10.860202
8             8             71.604970            10.339046
9             9            152.897200            12.080900

In [97]:
 # Question 2: For each gender what is the average time since the last gift and how much have they gifted?
data2 = []
for x in sorted(donorsdf['GENDER'].unique()): #looping through the column of the dataframe for the unique values and sorting by those values
    last_gift = donorsdf[donorsdf["GENDER"] == x]["LASTGIFT"].mean() # pulling the average time since last gift based on gender
    gifted = donorsdf[donorsdf["GENDER"] == x]["TOTAL"].mean() # pulling the average total gifted based on gender
    data2.append([last_gift, gifted]) # appending the information to my list
df3 = pd.DataFrame(data2, columns = ['Average Time Since Last Gift', 'Average Total Gifted']) # creating the dataframe from my list and column names
df3.index = ['Women', 'Men'] # renaming the rows so we know which gender is which row
print(df3) #printing the dataframe

       Average Time Since Last Gift  Average Total Gifted
Women                     13.094915            108.564881
Men                       12.416495            116.157845